.nyh-logo {
    width: 11%;
    height: 63.99px;
}

.nyh-logo>img {
    width: 100%;
    height: 40px;
}

.nyh-header {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.nyh-login {
    width: 100px;
    height: 63.99px;
    cursor: pointer;
}

.nyh-login>div {
    width: 100px;
    height: 30px;
    background-color: gray;
    margin-top: 15px;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
}

.ant-menu-dark.ant-menu-horizontal>.ant-menu-item,
.ant-menu-dark.ant-menu-horizontal>.ant-menu-submenu {
    background-color: white;
    color: black;
}

.ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-item-group-title,
.ant-menu-dark .ant-menu-item>a {
    color: black;
}

.ant-menu-dark .ant-menu-item-selected>a,
.ant-menu-dark .ant-menu-item-selected>a:hover {
    color: blue;
}

.ant-menu-dark .ant-menu-item:hover>a,
.ant-menu-dark .ant-menu-item-active>a {
    color: blue;
}

.ant-menu-dark .ant-menu-item-selected>a {
    color: black;
}

.hr {
    height: 50px;
}

.nyh-center>span {
    display: inline-block;
    font-size: 15px;
    color: #1890FF;
    margin-left: 20px;
}

.nyh-center>span :hover {
    cursor: pointer;
}

.nyh-center {
    margin-left: -40%;
}