body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 公共样式 */

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.justifyContent {
  justify-content: space-between;
}

/* 刘洋的样式 */

/* 轮播样式 */
.ly_loop {
  width: 1250px;
  height: 360px;
  margin: 0 auto;
}

.ant-carousel .slick-slide {
  text-align: center;
  line-height: 160px;
  background: blue;
  overflow: hidden;
  width: 1250px;
  height: 360px;
  margin: 0 auto;
}

.ant-carousel .slick-slide img {
  width: 1250px;
  text-align: center;
  height: 360px;
}

/* 底部部分 */
.ly_footer {
  clear: both;
  color: #bbb;
  padding-top: 30px;
  padding-bottom: 45px;
  border-top: 1px solid #eee;
  margin-top: 30px;
  font-size: 12px;
  text-align: center;
  background-color: #FFF;
}

.ly_footer a {
  color: #bbb;
}

.ly_footer_cen1 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  word-spacing: -1em;
  text-align: center;
}

.ly_footer_cen1 ul li {
  margin: 0 7px 7px;
  display: inline-block;
  word-spacing: 0;
}

.ly_footer_cen1 {
  margin-bottom: 8px;
}

.ly_footer_cen2 {
  text-align: center;
  overflow: hidden;
  clear: both;
  margin-bottom: 8px;
}

.ly_footer_cen2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  word-spacing: -1em;
  text-align: center;
}

.ly_footer_cen2 ul li {
  margin: 0 7px 7px;
  display: inline-block;
  word-spacing: 0;
}

/* 聂一晗的样式 */

.nyh-logo {
  width: 11%;
  height: 63.99px;
}

.nyh-logo>img {
  width: 100%;
  height: 40px;
}

.nyh-header {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.nyh-login {
  width: 100px;
  height: 63.99px;
}

.nyh-login>div {
  width: 100px;
  height: 30px;
  background-color: gray;
  margin-top: 15px;
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
}

.hr {
  height: 50px;
}

.nyh-center>span {
  display: inline-block;
  font-size: 15px;
  color: #1890FF;
  margin-left: 20px;
}

.nyh-center>span :hover {
  cursor: pointer;
}

.nyh-center {
  margin-left: -40%;
}